      <main id="about-us-main">
          <div class="background-image">
            <div class="image-container">
                <img src="~/Client/src/assets/images/medium-shot-woman-posing-with-graduation-background 3.jpg"> 
            </div>
            <div class="image-container-2">
                <img src="~/Client/src/assets/images/woman-posing-background.png"> 
            </div>
            <div class="image-container">
                <img src="~/Client/src/assets/images/medium-shot-woman-posing-with-graduation-background 2 (1).png">
            </div>
          </div>
          <div id="about-us"><h1 >About Us</h1></div>
          
          <div id="about-us-content">
           
            <p>
            Modern English EC is a language and development center, established in 2013 in Baku, Azerbaijan and has taught over 20 500
            students, both adults, and children. We specialise in high quality different language trainings and kids children’s development
            programs. All of our teachers are highly qualified and have between 5 and 10 years professional experience. Our Courses
            include General English from beginners to advanced, Business English, Speaking Skills, International exam preparation, Young
            learner courses for all levels, Corporate training, Foreign Languages, Kids Development , as well as Preschool. <br>
           <br>
            Every lesson will be lively, interesting and interactive and provide you with a comfortable environment in order for you to receive
            the best quality learning experience.The program follows a textbook, but your teacher will also use a number of additional and
            varied teaching materials during the lessons, adapted to the needs and goals of the group.
            Students are required to take a free placement test to determine your level of language proficiency. Placement tests and 
            registration are usually held a week before the beginning of each semester.<br>
            <br>
            WHY CHOOSE MODERN ENGLISH EC?
                
            </p>
          <div class="about-us-content-2">
                <p>All our teachers are speakers with teaching qualifications and extensive professional experience</p>
                <p> A full range of courses for Children, Students and working professionals</p>
                <p> Free level check - Each student is placed in a group according to ability</p>
                <p> Small class sizes. Average 5, maximum 5 students per class.</p>
                <p> Excellent facilities, Modern fully equipped classrooms, offering a pleasant and comfortable atmosphere</p>
                <p> English only is used in the classroom</p>
                <p> Additional materials and handouts included</p>
                <p> Taught using the communicative approach</p>
                <p> International Environment</p>
                <p> All our teaching hours are 60 minutes</p>

          </div>
          
        </div>

        </main>