@using ModernEngilish.Areas.Client.ViewModels.Gallery
@model List<ListViewModel>

<main id="gallery-main">
    <section>
        <div class="title-container">
            <h1>Gallery<span>/Parties</span></h1>
            <div class="content"> </div>
            <div class="category-container">
                @foreach (var galleryName in Model)
                {
                    <div class="category-1">@galleryName.Name</div>
                }

            </div>
        </div>
    </section>
    <div class=image-container>
        <div class="image-row">
            @foreach (var gallery in Model)
            {
                <div class="image-with-overlay">
                    @* <img src="~/@gallery.FileNameInSystem"> *@
                    <img class="overlay" src="~/@gallery.FileNameInSystem">
                </div>
            }
        </div>


    </div>
    <div id="mini-gallery-slider" class="owl-carousel owl-theme">

        <div class=gallery-item-1>
            <img src="src/assets/images/girls-with-baloon.jpg">
        </div>
        <div class=gallery-item-2>
            <img src="src/assets/images/birthday.jpg">
        </div>
        <div class=gallery-item-3>
            <img src="src/assets/images/show.jpg">
        </div>


    </div>



</main>