<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link asp-append-version="true" rel="stylesheet" href="~/client/src/css/style.css">
    <link asp-append-version="true" rel="stylesheet" href="~/Client/src/css/owl.carousel.css">
    <link asp-append-version="true" rel="stylesheet" href="~/Client/src/css/owl.theme.default.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
    
    <header id="mini-header">
        <div id="logo-nav">
            <div id="logo">
                <a href="./index.html">
                    <img class="logo-img-1" src="~/Client/src/assets/images/Rectangle 484.png" alt="">
                    <img class="logo-img-2" src="~/Client/src/assets/images/Group 4406.png" alt="">
                    <div class="logo-txt">
                        <h3>Modern<br> English EC</h3>
                    </div>
                </a>
            </div>
            <div id="nav">
                <a href="">
                    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none">
                        <path
                            d="M28.5176 7.3872C27.1453 6.00096 25.5106 4.90185 23.709 4.15397C21.9075 3.40609 19.975 3.02442 18.0243 3.03122C9.85127 3.03122 3.19006 9.69242 3.19006 17.8655C3.19006 20.4851 3.87864 23.0298 5.16597 25.2752L3.07031 32.9692L10.929 30.9035C13.0995 32.0861 15.5395 32.7148 18.0243 32.7148C26.1974 32.7148 32.8586 26.0535 32.8586 17.8805C32.8586 13.9137 31.3168 10.1864 28.5176 7.3872ZM18.0243 30.2C15.8089 30.2 13.6384 29.6012 11.7374 28.4785L11.2883 28.2091L6.61797 29.4365L7.86039 24.886L7.56101 24.4219C6.33018 22.4564 5.67663 20.1846 5.67492 17.8655C5.67492 11.0696 11.2135 5.53104 18.0094 5.53104C21.3026 5.53104 24.4011 6.81838 26.7213 9.15354C27.8702 10.2971 28.7806 11.6573 29.3999 13.1554C30.0191 14.6534 30.3349 16.2595 30.3289 17.8805C30.3588 24.6764 24.8203 30.2 18.0243 30.2ZM24.7903 20.9791C24.4161 20.7994 22.5899 19.9013 22.2606 19.7666C21.9163 19.6468 21.6768 19.5869 21.4223 19.9462C21.1678 20.3204 20.4643 21.1587 20.2547 21.3982C20.0452 21.6527 19.8206 21.6826 19.4464 21.488C19.0722 21.3084 17.8747 20.9042 16.4676 19.6468C15.3599 18.6589 14.6264 17.4464 14.4018 17.0721C14.1923 16.6979 14.3719 16.5033 14.5665 16.3087C14.7312 16.1441 14.9407 15.8746 15.1204 15.6651C15.3 15.4555 15.3748 15.2908 15.4946 15.0513C15.6143 14.7969 15.5545 14.5873 15.4646 14.4077C15.3748 14.228 14.6264 12.4018 14.327 11.6534C14.0276 10.9349 13.7133 11.0247 13.4887 11.0097H12.7702C12.5158 11.0097 12.1266 11.0995 11.7823 11.4737C11.453 11.848 10.4949 12.7461 10.4949 14.5723C10.4949 16.3985 11.8272 18.1649 12.0068 18.4044C12.1864 18.6589 14.6264 22.4011 18.3387 24.0028C19.2219 24.392 19.9104 24.6165 20.4493 24.7812C21.3325 25.0656 22.1408 25.0207 22.7845 24.9309C23.503 24.8261 24.9849 24.0327 25.2843 23.1645C25.5987 22.2963 25.5987 21.5628 25.4939 21.3982C25.3891 21.2335 25.1646 21.1587 24.7903 20.9791Z"
                            fill="black" />
                    </svg>
                </a>
                <a href="">
                    <svg xmlns="http://www.w3.org/2000/svg" width="37" height="36" viewBox="0 0 37 36" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M6.47151 4.45632C8.39317 2.52622 11.5575 2.86918 13.1665 5.04173L15.1592 7.72792C16.4698 9.49532 16.353 11.9646 14.7976 13.5262L14.4218 13.9058C14.3794 14.0652 14.3751 14.2325 14.4092 14.3939C14.5087 15.0448 15.0471 16.4229 17.3019 18.688C19.5568 20.9531 20.9305 21.4954 21.5842 21.5975C21.7488 21.6329 21.9193 21.6279 22.0816 21.5832L22.7259 20.9355C24.1091 19.5478 26.2313 19.2878 27.9429 20.2273L30.9588 21.8862C33.5437 23.3027 34.1958 26.8503 32.0799 28.9766L29.8361 31.2289C29.1287 31.9387 28.1782 32.5305 27.0192 32.6406C24.1612 32.9101 17.5025 32.5656 10.5027 25.5359C3.97036 18.9735 2.71662 13.2502 2.55714 10.4301C2.47819 9.00402 3.14453 7.79811 3.99404 6.94631L6.47151 4.45632ZM11.2717 6.47575C10.4711 5.39585 8.98056 5.30971 8.14052 6.15353L5.66148 8.64193C5.1404 9.16513 4.89092 9.74256 4.9225 10.2945C5.04882 12.5356 6.05939 17.699 12.1733 23.8403C18.5873 30.2814 24.5101 30.4744 26.7997 30.2574C27.2671 30.2144 27.7313 29.9687 28.1655 29.5333L30.4077 27.2793C31.3204 26.3637 31.1199 24.6952 29.8282 23.987L26.8123 22.3297C25.9786 21.8735 25.0028 22.0234 24.3964 22.6327L23.678 23.3553L22.8411 22.5067C23.678 23.3553 23.6764 23.3569 23.6748 23.3569L23.6733 23.3601L23.6685 23.3649L23.6575 23.3745L23.6338 23.3968C23.5666 23.4587 23.4949 23.5152 23.419 23.5659C23.2927 23.6504 23.1253 23.7446 22.9153 23.8227C22.489 23.9838 21.9237 24.07 21.2258 23.9615C19.8568 23.7493 18.0425 22.8066 15.6314 20.3852C13.2218 17.9638 12.2807 16.1422 12.0691 14.7608C11.9602 14.0558 12.047 13.4847 12.2081 13.054C12.2974 12.812 12.4242 12.5859 12.5839 12.3841L12.6344 12.3283L12.6565 12.3043L12.666 12.2948L12.6707 12.29L12.6739 12.2868L13.1286 11.8306C13.8044 11.1495 13.8992 10.0217 13.2628 9.16194L11.2717 6.47575Z"
                            fill="black" />
                    </svg>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                    <svg xmlns="http://www.w3.org/2000/svg" width="39" height="40" viewBox="0 0 39 40" fill="none">
                        <path
                            d="M6.92413 29.6231H32.5853C33.4674 29.6231 34.1891 28.9013 34.1891 28.0192C34.1891 27.1371 33.4674 26.4154 32.5853 26.4154H6.92413C6.04203 26.4154 5.32031 27.1371 5.32031 28.0192C5.32031 28.9013 6.04203 29.6231 6.92413 29.6231ZM6.92413 21.604H32.5853C33.4674 21.604 34.1891 20.8822 34.1891 20.0001C34.1891 19.118 33.4674 18.3963 32.5853 18.3963H6.92413C6.04203 18.3963 5.32031 19.118 5.32031 20.0001C5.32031 20.8822 6.04203 21.604 6.92413 21.604ZM5.32031 11.981C5.32031 12.8631 6.04203 13.5848 6.92413 13.5848H32.5853C33.4674 13.5848 34.1891 12.8631 34.1891 11.981C34.1891 11.0989 33.4674 10.3772 32.5853 10.3772H6.92413C6.04203 10.3772 5.32031 11.0989 5.32031 11.981Z"
                            fill="black" />
                    </svg>
                </button>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                    aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                    </div>
                </div>
            </div>
        </div>
    </header>

    <header id="header">
        <div id="logo-nav">
            <div id="logo">
                <a asp-route="home-index">
                    <svg class="logo-img-1" xmlns="http://www.w3.org/2000/svg" width="140" height="175"
                        viewBox="0 0 140 175" fill="none">
                        <g filter="url(#filter0_d_3349_4573)">
                            <path d="M17 0H123V154L72 116L17 154V0Z" fill="#D70101" />
                        </g>
                        <defs>
                            <filter id="filter0_d_3349_4573" x="0" y="-13" width="140" height="188"
                                filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                                <feColorMatrix in="SourceAlpha" type="matrix"
                                    values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
                                <feOffset dy="4" />
                                <feGaussianBlur stdDeviation="8.5" />
                                <feComposite in2="hardAlpha" operator="out" />
                                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_3349_4573" />
                                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_3349_4573"
                                    result="shape" />
                            </filter>
                        </defs>
                    </svg>
                    <svg class="logo-img-2" xmlns="http://www.w3.org/2000/svg" width="83" height="84"
                        viewBox="0 0 83 84" fill="none">
                        <path
                            d="M4.62109 25.322V24.937C4.62109 24.3934 4.70873 23.8533 4.88064 23.3376C4.97538 23.0534 5.09519 22.7781 5.23865 22.5151L6.22884 20.6998L8.03756 17.8862L10.6501 14.6707L13.0618 12.0581L16.0763 9.44552L18.8899 7.23487L22.3063 5.22518L25.7228 3.41647L29.7422 1.80872L30.0785 1.71262C32.6627 0.974288 35.3076 0.468391 37.9819 0.200969L41.1974 0H43.081C45.1706 0 47.2562 0.184747 49.3132 0.552082C51.0013 0.853525 52.6653 1.27705 54.2921 1.81931L54.5916 1.91915C56.3782 2.51467 58.1202 3.23625 59.8046 4.07845L62.5 5.42615L63.4693 6.03192C66.0348 7.63538 68.4732 9.43381 70.7629 11.4113L71.7446 12.2591L74.9601 15.8765L77.5727 19.6949L77.8532 20.2092C79.2719 22.8102 80.4927 25.5143 81.5052 28.2987L81.592 28.5375L82.3989 32.3028C82.6641 33.5406 82.7979 34.8029 82.7979 36.0687C82.7979 37.7387 82.5651 39.4006 82.1063 41.0063L81.592 42.8063L81.3842 43.3882C80.8544 44.8718 80.1691 46.2952 79.3399 47.6348L79.0604 48.0862C78.339 49.2516 77.4851 50.3297 76.5159 51.2989C75.7483 52.0665 74.9119 52.7622 74.0173 53.3773L73.3254 53.853C72.5409 54.3923 71.7004 54.8694 70.836 55.2683C69.9772 55.6646 69.0745 55.9918 68.1606 56.2355C67.0694 56.5265 65.9511 56.7047 64.8235 56.7673L62.902 56.8741L62.0792 56.8227C60.4893 56.7233 58.916 56.442 57.3902 55.9842L56.9933 55.8652C56.1108 55.6004 55.2528 55.2601 54.4287 54.8481C53.3817 54.3246 52.3952 53.6881 51.4868 52.95L51.4539 52.9233C50.2494 51.9447 49.1897 50.8003 48.3063 49.5243L47.8293 48.8354L47.2395 47.754C46.8295 47.0023 46.4773 46.2105 46.1924 45.4032C45.6822 43.9577 45.3788 42.4307 45.3023 40.8997C45.2454 39.7625 45.3112 38.6224 45.4984 37.4992L45.5307 37.305C45.7227 36.1532 46.0485 35.0278 46.5017 33.9516C47.115 32.4951 47.9547 31.1446 48.9898 29.9503L49.2262 29.6775C49.7679 29.0524 50.3571 28.4702 50.9885 27.9359L51.2911 27.6798C52.1946 26.9154 53.1973 26.2764 54.2719 25.7805C54.9329 25.4754 55.6182 25.2258 56.3206 25.0342L57.4758 24.7191L58.8044 24.4977C59.5252 24.3776 60.2547 24.3172 60.9854 24.3172C61.859 24.3172 62.7305 24.4035 63.5872 24.5748L63.7874 24.6149C64.8021 24.8178 65.793 25.1256 66.7441 25.5332C67.6638 25.9273 68.5416 26.4128 69.3643 26.9824L69.5053 27.08C70.3266 27.6486 71.0951 28.2899 71.8014 28.9963L72.3276 29.5225C73.0091 30.204 73.6216 30.9511 74.1562 31.753L58.7653 47.3339C58.3275 47.7771 58.4502 48.5187 59.0074 48.7973C59.0581 48.8226 59.111 48.8432 59.1654 48.8587L59.6447 48.9957C60.2057 49.156 60.7864 49.2373 61.3698 49.2373H62.902L64.4163 49.0354C65.413 48.9025 66.3906 48.653 67.3291 48.292C68.1271 47.9851 68.8924 47.5993 69.6138 47.1403L69.7198 47.0728C70.3985 46.6409 71.039 46.1517 71.6343 45.6105L72.1365 45.1539C72.6771 44.6625 73.1553 44.1067 73.5605 43.4989C73.9562 42.9053 74.2794 42.2665 74.5232 41.5961L74.9601 40.3947C75.3599 39.062 75.563 37.6781 75.563 36.2868V35.3705V35.0242C75.563 33.7866 75.4015 32.5542 75.0826 31.3583C74.8674 30.5512 74.5815 29.7646 74.2282 29.0076L73.3523 27.1308C72.1486 24.8569 70.7601 22.6859 69.2008 20.6394L68.3281 19.4939L64.9117 15.8765L61.6962 13.2639L58.6816 11.2542L55.2652 9.44552L51.8487 7.83777L49.2361 7.0339L46.6235 6.43099L44.0109 6.02906L39.7906 5.82809H36.1732L31.3499 6.43099L29.9342 6.79802C27.2641 7.49028 24.6476 8.37509 22.1054 9.44552L19.2918 11.0533L16.0763 13.2639L13.0618 15.6755L10.2482 18.4891L8.23853 20.6998L6.63078 22.7094L4.62109 25.322Z"
                            fill="white" />
                        <path
                            d="M25.523 56.271H18.2881L18.0872 39.5906V38.3286C18.0872 37.8316 18.0328 37.3362 17.925 36.8511C17.7662 36.1365 17.4932 35.4522 17.1166 34.8245L17.0823 34.7674L16.5808 34.0652C16.2492 33.601 15.821 33.214 15.3257 32.931L15.2223 32.872C14.8579 32.6637 14.4573 32.5262 14.0417 32.4669C13.5302 32.3938 13.0087 32.4408 12.5185 32.6042L12.4144 32.6389C12.1775 32.7179 11.9489 32.8201 11.732 32.944L11.4576 33.1009C10.9241 33.4057 10.4469 33.8001 10.047 34.2666C9.64895 34.731 9.33331 35.2601 9.11373 35.831L8.82699 36.5765C8.57019 37.2442 8.38582 37.9375 8.27705 38.6446L8.20566 39.1086C8.09454 39.8308 8.03874 40.5605 8.03874 41.2912V46.0216L8.23971 48.0313C8.90867 50.9747 9.79683 53.864 10.8968 56.6749L11.0533 57.0749L12.862 60.2904L13.3719 61.0553C14.3704 62.5531 15.4762 63.9766 16.6804 65.3146L18.4891 67.1233L20.9007 69.133L23.3123 70.7407L26.1259 72.1475L26.584 72.3942C28.0181 73.1664 29.5113 73.8231 31.0496 74.3582L33.3608 75.1621L36.9782 76.1669C39.7882 76.5683 42.6232 76.7698 45.4617 76.7698H46.0218L50.4431 76.1669L55.0654 75.1621C57.7405 74.2258 60.335 73.0733 62.8232 71.7161L63.5061 71.3437L65.7167 69.9369L69.1332 67.3243L72.5496 64.1088L75.9661 59.8884L77.7748 56.8739C78.979 54.5993 80.0156 52.2398 80.8763 49.8143L81.7942 47.2274L83 44.0119V44.7872C83 46.6796 82.8657 48.5696 82.5981 50.4429L81.9952 52.8545L81.3923 55.2662L80.3874 57.8788L79.1816 60.4914L77.7748 63.1039L76.569 64.9127L75.3632 66.5204L73.7554 68.7311L71.7458 70.9417C70.4081 72.4132 68.956 73.7764 67.4031 75.0187L66.7215 75.564L64.109 77.3727L61.2954 78.9805L58.0799 80.5882L54.2615 81.995L49.2373 83.2008L47.981 83.4193C45.7412 83.8088 43.472 84.0047 41.1985 84.0047H40.8563C38.8118 84.0047 36.7723 83.8027 34.7676 83.4018L31.3511 82.3969L27.7337 81.3921L24.9201 80.1863L20.9007 78.1766L18.0872 76.3679L15.2736 74.1572L12.46 71.5446L9.44552 68.1282L7.0339 65.1136L5.22518 62.0991L3.2155 58.4817C2.41294 56.4753 1.77414 54.4072 1.30537 52.2977L0.803874 50.041L0.200969 46.8255L0 44.0119V41.1984L0.00956462 41.0549C0.137001 39.1434 0.402462 37.2435 0.803874 35.3703L1.13578 34.2086C1.44928 33.1114 1.89393 32.0559 2.4601 31.0651L2.59777 30.8242C3.00841 30.1056 3.49472 29.4329 4.0484 28.8177L4.08565 28.7763C4.70891 28.0838 5.41639 27.472 6.19159 26.9552C7.0174 26.4047 7.91292 25.9667 8.8545 25.6528L9.01136 25.6006C9.56806 25.415 10.1372 25.2692 10.7146 25.1642L10.9714 25.1175C11.6944 24.9861 12.4278 24.9199 13.1627 24.9199C14.1642 24.9199 15.162 25.0428 16.1337 25.2857L16.2785 25.3219L17.6174 25.7338C18.462 25.9937 19.2645 26.3747 19.9998 26.8649C20.8621 27.4398 21.6204 28.1571 22.2422 28.9862L22.5085 29.3412L22.9104 28.9393L23.0551 28.7946C24.0257 27.824 25.1269 26.9933 26.3269 26.3267L27.0634 25.9584C27.6428 25.6687 28.2494 25.437 28.8744 25.2665L28.947 25.2467C29.7423 25.0298 30.563 24.9199 31.3874 24.9199C31.8982 24.9199 32.4082 24.9621 32.9121 25.0461L33.3158 25.1134C34.148 25.2521 34.9662 25.4646 35.7607 25.7483L36.0832 25.8635C36.945 26.1713 37.7688 26.5766 38.5386 27.0714L39.1062 27.4363C39.8264 27.8993 40.4665 28.4764 41.0013 29.145C41.5313 29.8074 41.951 30.5509 42.2442 31.3469L42.4808 31.9891C42.9622 33.2956 43.2146 34.6753 43.227 36.0675L43.4092 56.472H36.1743V38.2594C36.1743 37.676 36.093 37.0954 35.9327 36.5343L35.9243 36.5049C35.8232 36.1512 35.6896 35.8076 35.5251 35.4786L35.382 35.1924C35.1093 34.647 34.7267 34.1639 34.2583 33.7736C33.9296 33.4997 33.563 33.275 33.1698 33.1065L32.8643 32.9756C32.5266 32.8308 32.1728 32.7272 31.8104 32.6668C31.3725 32.5938 30.9264 32.5847 30.4859 32.6398L30.1848 32.6774C29.7586 32.7307 29.342 32.8435 28.9473 33.0127C28.4111 33.2425 27.9237 33.5725 27.5112 33.985L27.4718 34.0243C27.1128 34.3834 26.814 34.7979 26.587 35.2521C26.4142 35.5975 26.2845 35.9629 26.2007 36.3399L25.9249 37.5809L25.724 39.5906L25.523 56.271Z"
                            fill="white" />
                        <path
                            d="M53.0772 42.852L53.8675 44.0618L65.5808 32.2779L63.7218 31.6582C62.917 31.3899 62.0742 31.2532 61.2258 31.2532C60.3775 31.2532 59.5346 31.3899 58.7298 31.6582L58.4079 31.7655L58.2729 31.7993C57.0275 32.1106 55.9094 32.8011 55.0733 33.7752L54.5691 34.3634C54.1026 34.9077 53.6921 35.4977 53.3439 36.1244L53.1998 36.3838C52.9755 36.7875 52.7892 37.2112 52.6431 37.6494L52.6009 37.7761C52.3749 38.4539 52.2598 39.1637 52.2598 39.8781V40.1058C52.2598 40.5724 52.3248 41.0367 52.453 41.4853C52.5913 41.9696 52.8018 42.4303 53.0772 42.852Z"
                            fill="#B80000" />
                    </svg>
                    <div class="logo-txt">
                        <h3>Modern<br> English EC</h3>
                    </div>
                </a>
            </div>
            <div id="nav">
                <nav>
                    <div class="nav-item">
                        <span class="dropdwn" data-bs-toggle="dropdown" aria-expanded="false">
                            Courses
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                <path d="M13 6L8 11L3 6" stroke="black" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </span>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" asp-route="programs-index">English Programs</a></li>
                            <li><a class="dropdown-item" asp-route="programs-languages">Languages</a></li>
                            <li><a class="dropdown-item" asp-route="programs-ageds">Aged</a></li>
                        </ul>
                    </div>
                    <div class="nav-item">
                        <a asp-route="about-index">
                            <span>About Us</span>
                        </a>
                    </div>
                    <div class="nav-item">
                        <a asp-route="contact-index">
                            <span>Contact Us</span>
                        </a>
                    </div>
                    <div class="nav-item" style="width: 75px;">
                        <a asp-route="gallery-index">
                            <span>Gallery</span>
                        </a>
                    </div>
                    <div class="nav-item">
                        <a href="">
                            <span>Career</span>
                        </a>
                    </div>
                    <div class="nav-item">
                        <span class="dropdwn" data-bs-toggle="dropdown" aria-expanded="false">
                            EN
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                <path d="M13 6L8 11L3 6" stroke="black" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </span>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>

    <!--Header area-->
     @RenderBody()
    <!--Footer area-->
    <footer>
        <div id="footer-top">
            <div id="sm">
                <span>Follow us on social media:</span>
                <a href="">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M3.6 12.5C3.60015 10.8835 4.06674 9.30133 4.94378 7.9434C5.82082 6.58548 7.07105 5.50946 8.54446 4.84446C10.0179 4.17947 11.6519 3.95374 13.2504 4.19437C14.8489 4.43499 16.344 5.13175 17.5564 6.20104C18.7687 7.27033 19.6468 8.66672 20.0852 10.2227C20.5236 11.7786 20.5037 13.428 20.028 14.9729C19.5522 16.5179 18.6408 17.8927 17.4031 18.9325C16.1653 19.9723 14.6538 20.6328 13.05 20.8349V14.6H15.15C15.4285 14.6 15.6955 14.4894 15.8925 14.2925C16.0894 14.0955 16.2 13.8285 16.2 13.55C16.2 13.2715 16.0894 13.0045 15.8925 12.8075C15.6955 12.6106 15.4285 12.5 15.15 12.5H13.05V10.4C13.05 10.1215 13.1606 9.85445 13.3575 9.65754C13.5545 9.46062 13.8215 9.35 14.1 9.35H14.625C14.9035 9.35 15.1705 9.23937 15.3675 9.04246C15.5644 8.84555 15.675 8.57848 15.675 8.3C15.675 8.02152 15.5644 7.75445 15.3675 7.55754C15.1705 7.36062 14.9035 7.25 14.625 7.25H14.1C13.2646 7.25 12.4634 7.58187 11.8726 8.17261C11.2819 8.76335 10.95 9.56457 10.95 10.4V12.5H8.85C8.57152 12.5 8.30445 12.6106 8.10754 12.8075C7.91062 13.0045 7.8 13.2715 7.8 13.55C7.8 13.8285 7.91062 14.0955 8.10754 14.2925C8.30445 14.4894 8.57152 14.6 8.85 14.6H10.95V20.8349C8.92003 20.5789 7.05326 19.5909 5.7 18.0563C4.34675 16.5217 3.60003 14.546 3.6 12.5ZM12 23C17.7991 23 22.5 18.2991 22.5 12.5C22.5 6.70085 17.7991 2 12 2C6.20085 2 1.5 6.70085 1.5 12.5C1.5 18.2991 6.20085 23 12 23Z"
                            fill="white" />
                    </svg>
                </a>
                <a href="">
                    <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none">
                        <path
                            d="M6.3 0.5H14.7C17.9 0.5 20.5 3.1 20.5 6.3V14.7C20.5 16.2383 19.8889 17.7135 18.8012 18.8012C17.7135 19.8889 16.2383 20.5 14.7 20.5H6.3C3.1 20.5 0.5 17.9 0.5 14.7V6.3C0.5 4.76174 1.11107 3.28649 2.19878 2.19878C3.28649 1.11107 4.76174 0.5 6.3 0.5ZM6.1 2.5C5.14522 2.5 4.22955 2.87928 3.55442 3.55442C2.87928 4.22955 2.5 5.14522 2.5 6.1V14.9C2.5 16.89 4.11 18.5 6.1 18.5H14.9C15.8548 18.5 16.7705 18.1207 17.4456 17.4456C18.1207 16.7705 18.5 15.8548 18.5 14.9V6.1C18.5 4.11 16.89 2.5 14.9 2.5H6.1ZM15.75 4C16.0815 4 16.3995 4.1317 16.6339 4.36612C16.8683 4.60054 17 4.91848 17 5.25C17 5.58152 16.8683 5.89946 16.6339 6.13388C16.3995 6.3683 16.0815 6.5 15.75 6.5C15.4185 6.5 15.1005 6.3683 14.8661 6.13388C14.6317 5.89946 14.5 5.58152 14.5 5.25C14.5 4.91848 14.6317 4.60054 14.8661 4.36612C15.1005 4.1317 15.4185 4 15.75 4ZM10.5 5.5C11.8261 5.5 13.0979 6.02678 14.0355 6.96447C14.9732 7.90215 15.5 9.17392 15.5 10.5C15.5 11.8261 14.9732 13.0979 14.0355 14.0355C13.0979 14.9732 11.8261 15.5 10.5 15.5C9.17392 15.5 7.90215 14.9732 6.96447 14.0355C6.02678 13.0979 5.5 11.8261 5.5 10.5C5.5 9.17392 6.02678 7.90215 6.96447 6.96447C7.90215 6.02678 9.17392 5.5 10.5 5.5ZM10.5 7.5C9.70435 7.5 8.94129 7.81607 8.37868 8.37868C7.81607 8.94129 7.5 9.70435 7.5 10.5C7.5 11.2956 7.81607 12.0587 8.37868 12.6213C8.94129 13.1839 9.70435 13.5 10.5 13.5C11.2956 13.5 12.0587 13.1839 12.6213 12.6213C13.1839 12.0587 13.5 11.2956 13.5 10.5C13.5 9.70435 13.1839 8.94129 12.6213 8.37868C12.0587 7.81607 11.2956 7.5 10.5 7.5Z"
                            fill="white" />
                    </svg>
                </a>
            </div>
            <div id="contact-us">
                <span>Any Questions?</span>
                <button>Contact Us</button>
            </div>
        </div>
        <div id="footer-bottom">
            <div class="footer-bar">
                <h6>Courses</h6>
                <ul>
                    <a href="">
                        <li>English</li>
                    </a>
                    <a href="">
                        <li>IELTS</li>
                    </a>
                    <a href="">
                        <li>SAT</li>
                    </a>
                </ul>
            </div>
            <div class="footer-bar">
                <h6>Languages</h6>
                <ul>
                    <a href="">
                        <li>Russian</li>
                    </a>
                    <a href="">
                        <li>Spanish</li>
                    </a>
                    <a href="">
                        <li>German</li>
                    </a>
                    <a href="">
                        <li>Azerbaijani</li>
                    </a>
                    <a href="">
                        <li>Italian</li>
                    </a>
                </ul>
            </div>
            <div class="footer-bar">
                <h6>Kids Program</h6>
                <ul>
                    <a href="">
                        <li>Early Development</li>
                    </a>
                    <a href="">
                        <li>Preschool</li>
                    </a>
                    <a href="">
                        <li>Art</li>
                    </a>
                    <a href="">
                        <li>Chess</li>
                    </a>
                </ul>
            </div>
            <div class="footer-bar">
                <h6>About Us</h6>
                <ul>
                    <a href="">
                        <li>Gallery</li>
                    </a>
                    <a href="">
                        <li>Career</li>
                    </a>
                    <a href="">
                        <li>Contact Us</li>
                    </a>
                </ul>
            </div>
        </div>
    </footer>
    <footer id="mini-footer">
        <div class="footer-top">
            <ul>
                <li>
                    <a href="">About Us</a>
                </li>
                <li>
                    <a href="">Courses</a>
                </li>
                <li>
                    <a href="">Career</a>
                </li>
            </ul>
        </div>
        <div class="footer-bottom">
            <a class="join-button" href="">
                Contact Us
            </a>
            <p class="phone-number">+994 (55) 359 38 55</p>
            <div class="social-media">
                <a href="">
                    <img src="~/Client/src/assets/images/mingcute_whatsapp-line.png" alt="">
                </a>
                <a href="" style="margin: 0 16px;">
                    <img src="~/Client/src/assets/images/Group.png" alt="">
                </a>
                <a href="">
                    <img src="~/Client/src/assets/images/Vector.png" alt="">
                </a>
            </div>
            <p class="since">2013-2023 Modern English EC</p>
        </div>
        <div class="contact">
            <div class="phone">
                <img src="~/Client/src/assets/images/Vector-phone.png" alt="">
            </div>
            <div class="whatsapp">
                <img src="~/Client/src/assets/images/logos_whatsapp-icon.png" alt="">
            </div>
        </div>
    </footer>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="~/Client/src/js/index.js"></script>
    <script src="~/Client/src/js/owl.carousel.js"></script>
    <script src="~/Client/src/js/owl.js"></script>
    <script src="~/Client/src/js/popper.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>